{% extends "base.html" %}
{% block script %}
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script>
    let taskWord = '';
    let mainLangWords = {{words[0] | safe}};
    console.log(mainLangWords);
    let secondLangWords = {{words[1] | safe}};
    console.log(secondLangWords);
    let wordsToRemember = {{words[1] | safe}};
    let appStatus = "TextToRemember";
    let roundNumber = 0;
    let correct_answers = 0;
    let word_1_button = document.getElementById('button_word_1');
    let word_2_button = document.getElementById('button_word_2');
    let word_3_button = document.getElementById('button_word_3');
    let word_4_button = document.getElementById('button_word_4');
    let action_button = document.getElementById("button_action");
    let taskTd = document.getElementById("task_word");

    function appAction(actionButtonID, wordsQuantity) {
            action_button.style.transition = 'none';
            action_button.style.visibility = "hidden";
        if (appStatus === "TextToRemember") {

            // set words to remember (list of words which will be decrease by 1 each round)

            // hide table with words to remeber
            let row = document.getElementById("table_10_words");
            row.style.display = 'none'

            // show answer buttons
            for (let i = 0; i < 4; i++) {
                let button = document.getElementById("button_word_" + (i + 1));
                button.style.display = 'unset'

            }


            // set to application round conditions
            appRound();

            //show task word
            taskTd.style.display = 'unset'

            // show answer buttons
            for (let i = 0; i < 4; i++) {
                let button = document.getElementById("button_word_" + (i + 1));
                button.style.display = 'unset'

            }

            appStatus = "Next round";
        } else if (appStatus === "Next round") {
            appRound()
            word_1_button.style.transition = 'none';
            word_2_button.style.transition = 'none';
            word_3_button.style.transition = 'none';
            word_4_button.style.transition = 'none';
            word_1_button.style.color='';
            word_2_button.style.color='';
            word_3_button.style.color='';
            word_4_button.style.color='';
            word_1_button.disabled = '';
            word_2_button.disabled = '';
            word_3_button.disabled = '';
            word_4_button.disabled = '';
            word_1_button.style.transition = 'all 0.3s ease 0s';
            word_2_button.style.transition = 'all 0.3s ease 0s';
            word_3_button.style.transition = 'all 0.3s ease 0s';
            word_4_button.style.transition = 'all 0.3s ease 0s';
            if (roundNumber===10){
                appStatus = "Result";
            }

        } else if (appStatus === "Result") {
            fetch('', {
            method:"POST",
            body: `result=${correct_answers}`
            }).then(result => {
                // do something with the result
                console.log("Completed with result:", result);
            }).catch(err => {
                // if any error occured, then catch it here
                console.error(err);
            });

            word_1_button.style.transition = 'none';
            word_1_button.style.visibility = "hidden";
            word_2_button.style.transition = 'none';
            word_2_button.style.visibility = "hidden";
            word_3_button.style.transition = 'none';
            word_3_button.style.visibility = "hidden";
            word_4_button.style.transition = 'none';
            word_4_button.style.visibility = "hidden";

            action_button.innerText = 'my statistic'
            action_button.style.transition = 'all 0.3s ease 0s';
            action_button.style.visibility = 'unset'

            taskTd.innerText = `Your Result: ${correct_answers}/${roundNumber}`

        }
    }


    function appRound() {
        // increase round number
        roundNumber += 1;
        // taking task words from array
        let taskWordIndex = Math.floor(Math.random() * (wordsToRemember.length));
        console.log(taskWordIndex);
        taskWord = wordsToRemember[taskWordIndex];
        taskTd.textContent = taskWord;
        console.log(taskWord);
        // deleting task word from array of words to learn
        wordsToRemember.splice(taskWordIndex, 1);
        console.log('list to learn after task word selection: ', wordsToRemember);
        // index of correct words
        console.log('full list to learn: ', secondLangWords)
        let answerIndex = secondLangWords.indexOf(taskWord);
        console.log(answerIndex);
        // getting correct answer word
        console.log('answer list: ', mainLangWords)
        let answerWord = mainLangWords[answerIndex];
        console.log(answerWord);
        // adding correct answer to array of round answers
        let answers = [];
        answers.push(answerWord);
        // temp array to get incorrect answers
        let tempMainLangWords = mainLangWords.slice();
        // deleting correct answer
        tempMainLangWords.splice(answerIndex, 1);
        // getting 3 random incorrect answers
        for (let i = 0; i < 3; i++) {
            taskWordIndex = Math.floor(Math.random() * (tempMainLangWords.length));
            answers.push(tempMainLangWords[taskWordIndex]);
            tempMainLangWords.splice(taskWordIndex, 1);
        }
        //shuffle answers
        for (let i = answers.length - 1; i > 0; i--) {
            let j = Math.floor(Math.random() * (i + 1));
            let temp = answers[i];
            answers[i] = answers[j];
            answers[j] = temp;
        }

        // change buttons text to answer from array
        for (let i = 0; i < 4; i++) {
            let button = document.getElementById("button_word_" + (i + 1));
            button.textContent = answers[i]
            if (answers[i] === answerWord) {
                button.name = 'button_1'
            } else {
                button.name = 'button_0'
            }

        }

    }

    function answer(button_id){
            word_1_button.disabled = 'true';
            word_2_button.disabled = 'true';
            word_3_button.disabled = 'true';
            word_4_button.disabled = 'true';

        let answer_button = document.getElementById(button_id);
        let score_cell = document.getElementById('score_cell_'+roundNumber.toString());
        if (answer_button.name === 'button_1'){
            correct_answers +=1;
            answer_button.style.color = '#009966';
            score_cell.style.background = '#009966'

        } else{
            answer_button.style.color = '#ff6666';
            score_cell.style.background = '#ff6666'
            let correct_button = document.getElementsByName('button_1')[0];
            correct_button.style.color = '#009966';
        }
        action_button.innerText = 'next'
        action_button.style.transition = 'all 0.3s ease 0s';
        action_button.style.visibility = 'unset'
    }
</script>
{% endblock %}
{% block main_windows %}
<table style="height: 100%; width: 100%">
    <tr>
        <td style="vertical-align: top">
            <table class="score_table">
                <tr>
                    {% for word in words[0] %}
                    <td class="score_cell" id="score_cell_{{loop.index}}">
                    </td>
                    {% endfor %}
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td class="center_cell">

    <table class="table_app">

    <tr>
        <td>

            <table class="table_inner_app" id="table_10_words">

                {% for word in words[0] %}
                <tr id="wordRow_{{loop.index0}}" class="test_tr">
                    <td class="left_td" >{{words[0][loop.index0]}}</td>
                    <td class="right_td">{{words[1][loop.index0]}}</td>
                </tr>
                {% endfor %}

            </table>
        </td>
    </tr>

    <tr>
        <td id="task_word" style="display: none; font-size: xx-large; text-transform: uppercase; margin: 20%">
            task
        </td>
    </tr>
        <tr>
    <td>
        <table class="table_inner_app">
            <tr>
                <td class="left_td">
                    <button class="button_app" id="button_word_1" style="display: none; width: 60%"
                    onclick="answer('button_word_1')"> word 1</button>
                </td>
                <td class="right_td">
                    <button class="button_app" id="button_word_2" style="display: none; width: 60%"
                    onclick="answer('button_word_2')"> word 2</button>
                </td>
            </tr>
            <tr>
                <td class="left_td">
                    <button class="button_app" id="button_word_3" style="display: none; width: 60%"
                    onclick="answer('button_word_3')"> word 3</button>
                </td>
                <td class="right_td">
                    <button class="button_app" id="button_word_4" style="display: none; width: 60%"
                    onclick="answer('button_word_4')"> word 4</button>
                </td>
            </tr>
        </table>
    </td>
        </tr>
    <tr>
        <td>

            <button class="button_app" id="button_action" onclick="appAction('button_action', '{{words|length}}')">
                start
            </button>
        </td>
    </tr>


    <tr class="left_td">
        <td ></td>
    </tr>
        </table>

            </td>
    </tr>


</table>
{% endblock %}
{% block title %}
NewWords
{% endblock %}
