{% extends "base.html" %}
{% block main_windows %}
<br>
<h3>{{translation[3]}}</h3> <br>
<form action="" method="post">

<!--    <label for="email">email:</label>-->
    <input type="text" id="email" name="email" class="input_app" placeholder="email">

    <br>
<!--    <label for="password">password:</label>-->
    <input type="password" id="password" name="password" class="input_app" placeholder="password">
    <br>
    <input type="submit" id="login" name="login" class="button_app" value="{{translation[0]}}" onclick="location.href='/'">
    <br>
    <br>
    {{translation[4]}}
    <br>
    <br>
    google account || apple account
    <br>
    <br>
    <br>
    {{translation[5]}}
    <br>
    <input type="button" class="button_app" value="{{translation[6]}}" onclick="location.href='/registration/'">
</form>
{% endblock %}
{% block title %}
NewWords: login
{% endblock %}
