{% extends "base.html" %}
{% block main_windows %}
<table class="table_app">
    <tr>
        <td>

            <iframe src="https://drive.google.com/file/d/1Su6JwoD1B4EYkAaKfDOSQVHGOSNTNXZt/preview?start=1" width="308" height="640" allow="autoplay" frameBorder="0">Browser not compatible to play vide.</iframe>
        </td>
        <td>
            <table class="table_inner_app">
                <tr>
                    <td>
                        <h3>NewWords</h3>
                        [QR-code to download] <br><br>
                        <input type="button" class="button_app" value="download"
                               onclick="window.open('https://play.google.com/store/apps')">


                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>NewWords PRO</h3>
                        - More topics to learn<br>
                        - No advertisement<br><br>
                        [QR-code to download] <br><br>
                        <input type="button" class="button_app" value="download"
                               onclick="window.open('https://play.google.com/store/apps')">
                    </td>
                </tr>
            </table>
        </td>

    </tr>


</table>

{% endblock %}
{% block title %}
NewWords: mobile application
{% endblock %}
