<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        {{style}}
    </style>
    <meta charset="UTF-8">
    <title>ChillOut</title>
</head>
<body>

<div class="parent">
    <div class="header">
        <div class="header_left"></div>

        <div class="header_right">
            <form action="" method="post">
                <div class="login_left">
                    <label for="email">email:</label>
                    <input type="text" id="email" name="email" class="input">

                    <br>
                    <label for="password">password:</label>
                    <input type="text" id="password" name="password" class="input">
                </div>
                <div class="login_right">
                    <input type="submit" id="submit" name="submit" class="input">
                </div>
            </form>


        </div>
        <div class="header_center">
            <H1>NewWords</H1>
            <div class="header_menu">
                <select class="selector" onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                    {%for language in languages%}
                    <option value="?main_language={{language}}">{{language}}</option>
                    {%endfor%}
                </select>
                <button class="button_header">
                    < - >
                </button>
                <select class="selector" onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                    {%for language in languages%}
                    <option value="?second_language={{language}}">{{language}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
    </div>

    <div class="menu">
        <div class="wrap">
            {%for topic in response%}
            <form>
                <input type="button" class="button" value="{{topic}}" onclick="location.href='?topic={{topic}}'">


            </form>

            {% endfor %}
        </div>


    </div>

    <div class="app">
        <div class="wrap_app">main web app window</div>
    </div>

    <div class="mobile">
        <div class="wrap">

            <form>
                <input type="button" class="button" value="android app link" onclick="location.href='?app=android'">


            </form>

            <form>
                <input type="button" class="button" value="ios app link" onclick="location.href='?app=ios'">


            </form>

        </div>
    </div>

    <div class="footer">footer</div>
</div>

</body>
</html>